---
import ContactForm from "../components/ContactForm.astro";
import Content from "../layouts/Content.astro";
import Map from "../components/Map.astro";
const pageTitle = "Contact Us";
---

<Content pageTitle={pageTitle}>
  <h1>Contact the Caring Place</h1>
  <section>
    <ContactForm />
    <p>
      Sharifah Tafari – Executive Director
      <br />
      Phone: <a href="tel:513-841-1499">513-841-1499</a>
    </p>
  </section>

  <section>
    <h2>Find the Caring Place</h2>
    <Map />
    <p>
      5950 Montgomery Rd<br /> Cincinnati, OH 45213<br /><em
        >Access from the parking lot of the Pleasant Ridge Presbyterian Church</em
      >
    </p>
  </section>
</Content>
