---
import Content from "../layouts/Content.astro";
const pageTitle = "Food Pantry";
---

<Content pageTitle={pageTitle}>
  <p>
    There are many ways you can help the Caring Place, we appreciate any help
    you can give to support those struggling in our area.
  </p>
  <h2 id="volunteering">Volunteering</h2><p>
    We need volunteers to keep the Caring Place open. Whether you can help every
    week, deliver food to our shut-in neighbors or stop by for a hour to unload
    boxes, we’re glad for any help you can provide!
  </p><p>
    The best way to get started is to reach our or look for needs on our
    Facebook page: <a
      href="https://www.facebook.com/thecaringplacekh"
      title="https://www.facebook.com/thecaringplacekh"
      >https://www.facebook.com/thecaringplacekh</a
    >
  </p>
  <h2>Donations</h2><p>
    We accept donations on Tuesdays and Thursdays 8am-2:30pm. We accept:
  </p><ul>
    <li>food</li>
    <li>
      clothes, shoes and accessories for men, women, children, infants (clean,
      gently used; underwear-new please)
    </li>
    <li>
      personal care items (soap, toothpaste, toothbrushes, deodorant, shampoo,
      conditioner, lotion, sanitary pads, etc)
    </li>
    <li>
      household cleaning supplies (laundry detergent, dish liq, bleach, etc)
    </li>
    <li>toilet paper</li>
    <li>
      housewares (pots, pans, dishes, cutlery, cooking utensils, kitchen
      equipment, linen for bed, bath and kitchen, etc)
    </li>
    <li>books, magazines, DVDs, CDs</li>
    <li>games, toys, baby equipment</li>
    <li>furniture</li>
  </ul><p>
    We have clients who are starting over due to homelessness and other life
    struggles. So we accept just about anything that "makes a house a home" and
    that's in good, clean shape.
  </p>
</Content>
