---

---

<form method="post" data-netlify="true">
  <div class="field-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
  </div>

  <div class="field-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </div>

  <div class="field-group">
    <label for="subject">Subject</label>
    <select id="subject" name="subject" required>
      <option value="help">Get Help</option>
      <option value="question">Question</option>
      <option value="volunteer">Volunteer</option>
      <option value="donation">Donation</option>
      <option value="other">Other</option>
    </select>
  </div>

  <div class="field-group">
    <label for="message">Message</label>
    <textarea id="message" name="message" rows="7" required></textarea>
  </div>

  <div class="field-group">
    <button type="submit" class="button button-blue">Contact Us</button>
  </div>
</form>

<script>
  let dirty = false;
  const forms = document.querySelectorAll("form");
  forms.forEach((form) => {
    form.querySelectorAll("input, select, textarea").forEach((input) => {
      input.addEventListener("change", () => {
        if (!dirty) {
          dirty = true;
          form.classList.add("dirty");
        }
      });
    });
    form.querySelectorAll("button").forEach((button) => {
      button.addEventListener("click", () => {
        if (!dirty) {
          dirty = true;
          form.classList.add("dirty");
        }
      });
    });
  });
</script>

<style>
  form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  form > .field-group:last-child {
    flex-direction: column;
  }

  label:has(+ input:required):after,
  label:has(+ select:required):after,
  label:has(+ textarea:required):after {
    content: " *";
    color: var(--red);
  }

  .field-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .field-group label {
    flex: 1;
  }

  .field-group input,
  .field-group select,
  .field-group textarea {
    flex: 3;
  }

  .field-group button {
    align-self: flex-end;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
  }

  select,
  textarea,
  input {
    border: 1px solid var(--grey);
    border-radius: 0.5em;
    padding: 0.5em;
  }

  form.dirty *:invalid {
    border: 1px solid var(--red);
  }
</style>
