---

---

<section class="hero">
  <aside>
    <div class="hero-content">
      <slot />
    </div>
  </aside>
</section>

<style>
  .hero {
    background-image: linear-gradient(60deg, #f0651e 0%, #f49f2d 100%);
    color: white;
    padding: 2em;
    margin: 0;
    text-align: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }
  .hero > * {
    flex-grow: 1;
  }
</style>
