---

---

<section class="hero">
  <aside>
    <slot />
  </aside>
</section>

<style>
  .hero {
    background-image: linear-gradient(60deg, #f0651e 0%, #f49f2d 100%);
    color: white;
    padding: 2em;
    margin: 0;
    text-align: center;
    padding-bottom: 6em;
  }
  .hero :global(h1) {
    text-transform: uppercase;
    font-size: xxx-large;
  }
  .hero :global(h2) {
    font-size: xx-large;
  }

  .hero :global(p) {
    font-size: x-large;
    padding-bottom: 1em;
  }
  .hero aside {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }
  .hero > * {
    flex-grow: 1;
  }
</style>
